.hello
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
    padding: 15px;
    text-align: center;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(161, 126, 28);
  }  
li {
    float:left;
    font-family: 'Times New Roman', Times, serif;
    size: 45px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: bisque;
  }
 li a:hover
 {
     background-color: chartreuse;
 } 
 image
 {
     padding: 14px 16px;
     display: block;
 }
#container 
{
background-color: lightyellow;
}
body{
  background-color: cadetblue;
}   